:root {
    --main-color-alt: #f7730f;
    --bg-color: #05070f;
    --main-transition: 0.3s;
    --main-color: #19c8fa;
    --main-color-alt: #1787e0;
    --transparent-color: rgb(15 116 143 / 70%);
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}


body {
    font-family: 'cairo';
    /* background-color: var(--bg-color); */
    /* background-image: url('/assests/images/image2.jpg'); */
    background-size: cover;
}

.mycontainer {
    padding-left: 15px;
    padding-right: 15px;

}



@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

.navbar-toggler {
    background-color: white !important;
}

.nav-item {
    position: relative;

    padding: 5px 30px;
    overflow: hidden;
    font-size: 18px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-item>.nav-link {
    color: white !important;
}

.nav-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.nav-item:hover {
    background-color: #0000004a;
    color: var(--main-color);
}

.nav-item:hover a {
    color: var(--main-color) !important;
}

.nav-item:hover::before {
    left: 0;
}

.mainHead {

    background-size: cover;
    background-position: center;
    padding: 0px 0px !important;
    min-height: 80vh;
}

.main-header {
    color: white;
    padding: 25px 0px;
    /* font-size: calc(2.5em + 1vw); */
    position: relative;
}

.myVideoContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.myVideoContainer>video {
    position: relative;
    z-index: -2;
    min-width: 100%;
    min-height: 100vh;
}

.myVideoContainer::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:var(--transparent-color);
    position: absolute;
    z-index: -2;
}

.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.main-title {
    color:var(--main-color);
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-title::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}
.main-title::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}
/* 
.main-title:hover {
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-delay: 0.5s;
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
} */

.whous {
    background-color: white;
    padding: 40px 20px;
}

.whous>h4 {
    padding: 15px;
    color: black;
}




/* Start Features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
    align-content: center;
}

.features .mycontainer {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    gap: 40px;
    justify-items: center;
}

.features .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .box .img-holder {
    position: relative;
    overflow: hidden;
}

.features .box .img-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
}

.features .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 750px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .box .img-holder img {
    max-width: 100%;
}

.features .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0;
}

.features .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.features p {
    text-align: center;
}

.features .quality .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .quality h2::after {
    background-color: #f44036;
}

.features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .time h2::after {
    background-color: #009688;
}

.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion .img-holder::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .passion h2::after {
    background-color: #03a9f4;
}

.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .box:hover a {
    background-position: left bottom;
    color: white;
}

/* End Features */
/* START CONTACT */
.contact{
    padding:50px 0px;
}
.contactPhoto{
text-align: center;
}
.contactPhoto img{
    max-width: 100%;
}
.contactInfo{
text-align: center;
}
.contactInfo h3{
    direction: ltr;
}
.contactInfo i{
    text-align: right;
    padding: 0px 10px;
    color :var(--main-color-alt);
}

.contactInfo h3 a{
text-decoration: none;
}

.contactInfo h3 a:visited,a:link{
color:black;
}
.contactInfo h3 a:hover{
    color :#009625;
    }

.profilePic{
text-align: center;
}
.profilePic > img{
 max-width: 100%;
}


.manBG{
position: relative;
}

@keyframes buzz {
    25% {
        transform: translate(0px, 10px);
     }
     
     /* 75% {
        transform: translate(0px, 15px);
     } */
    100% {
        transform: translate(0px, 0px);
        rotate: 0deg;
     }

}
.man{
    /* position: absolute; */
    right: 0;
    bottom: 0;
    /* z-index: 2; */
    animation: buzz 5s linear infinite;
    max-width: 70%;
}

/* Start Stats */
.stats {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #d4d4d4;
    min-height: 300px;
  }
  .stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 93%);
  }
  .stats h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
  }
  .stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
  }
  .stats .box {
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    opacity: 0.8;
    transition: var(--main-transition);
  }
  .stats .box::before,
  .stats .box::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: var(--main-color);
    transition: 1s;
    height: 0;
  }
  .stats .box::before {
    top: 0;
    right: 0;
  }
  .stats .box::after {
    left: 0;
    bottom: 0;
  }
  .stats .box:hover {
    opacity: 1;
  }
  .stats .box:hover::before,
  .stats .box:hover::after {
    height: 100%;
  }
  .stats .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .stats .box .text {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
  }
  /* End Stats */




  /* Start services */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }
  .services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
  }
  .services .box {
    position: relative;
  }
  .services .box::before,
  .services .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
  }
  .services .box::before {
    width: calc(100% - 60px);
    z-index: -2;
  }
  .services .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
  }
  .services .box:hover::after {
    width: calc(100% - 60px);
  }
  .services .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
  }
  .services .box .data img {
    width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
  }
  .services .box:hover img {
    filter: grayscale(100%);
  }
  .services .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .services .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none  !important;
  }
  .services .box .data .social a:hover i {
    color: var(--main-color);
  }
  .services .box .data .social i {
    color: var(--main-color);
    transition: var(--main-transition);
  }
  .services .box .info {
    padding-right: 14px;
    width: 77%;
  }
  .services .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);
    margin-top:20px;
  }
  .services .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .services .box:hover .info h3 {
    color: #777;
  }
  /* End services */


  .special-heading {
    color: #d8d8d8;
    font-size: 70px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
  }
  .special-heading + p {
    margin: -30px 0 0;
    font-size: 40px;
    text-align: center;
    color: var(--main-color-alt);
  }

  /* Start Footer */
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url("../assests/images/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
  }
  .footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
  }
  .footer .container {
    position: relative;
    padding-top: 20px;
  }
  .footer img {
    height: 200px;
  }
  .footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
  }
  .footer .social-icons i {
    padding: 10px 15px;
  }
  .footer .copyright {
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
  }
 
  /* End Footer */
  